<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../../public/css/lab1.css">
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="../">Homepage</a>
            <a href="../books.html">Books</a>
            <a href="../contact.html">Contact Us</a>
            <a href="../survey.html">Survey</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Olympus Library</H1>
            </center>
        </div>
        <br>
        <div class="main" style="height: 80vh;">
            <center>
                <div class="book-body" style="height: 75vh;">
                    <table>
                        <tr>
                            <td style="width: 25%;">
                                <img src="../../public/images/the-battle-of-the-labyrinth-3D-215x300.png" width="315px" height="400px"/>
                            </td>
                            <td style="width: 55%;">
                                <h2>Percy Jackson and the Battle of the Labyrinth</h2>
                                <p><h3>Summary: </h3></p>
                                <p>Percy Jackson isn’t expecting freshman orientation to be any fun, but when a mysterious mortal acquaintance appears, pursued by demon cheerleaders, things quickly go from bad to worse.

                                    Time is running out for Percy. War between the gods and the Titans is drawing near. Even Camp Half-Blood isn’t safe, as Kronos’ army prepares to invade its once impenetrable borders. To stop them, Percy and his friends must set out on a quest through the Labyrinth — a sprawling underground world with surprises and danger at every turn.
                                    
                                    Along the way Percy will confront powerful enemies, find out the truth about the lost god Pan, and face the Titan lord Kronos’ most terrible secret. The final war begins… with the Battle of the Labyrinth.</p>
                                <p><strong>Author: </strong> Rick Riordan</p>
                                <p><strong>Publisher: </strong>Disney Hyperion</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
        </div>
    </body>
</html>