<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../../public/css/lab1.css">
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="/">Homepage</a>
            <a href="../books.html">Books</a>
            <a href="../contact.html">Contact Us</a>
            <a href="../survey.html">Survey</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Olympus Library</H1>
            </center>
        </div>
        <br>
        <div class="main" style="height: 80vh;">
            <center>
                <div class="book-body" style="height: 75vh;">
                    <table>
                        <tr>
                            <td style="width: 25%;">
                                <img src="../../public/images/the-titans-curse-3D-215x300.png" width="315px" height="400px"/>
                            </td>
                            <td style="width: 55%;">
                                <h2>Percy Jackson and the Titan's Curse</h2>
                                <p><h3>Summary: </h3></p>
                                <p>When Percy Jackson gets an urgent distress call from his friend Grover, he immediately prepares for battle. He knows he will need his powerful demigod allies at his side, his trusty bronze sword Riptide, and… a ride from his mom.

                                    The demigods rush to the rescue to find that Grover has made an important discovery: two powerful half-bloods whose parentage is unknown. But that’s not all that awaits them. The titan lord Kronos has devised his most treacherous plot yet, and the young heroes have just fallen prey.
                                    
                                    They’re not the only ones in danger. An ancient monster has arisen — one rumored to be so powerful it could destroy Olympus — and Artemis, the only goddess who might know how to track it, is missing. Now Percy and his friends, along with the Hunters of Artemis, have only a week to find the kidnapped goddess and solve the mystery of the monster she was hunting. Along the way, they must face their most dangerous challenge yet: the chilling prophecy of the titan’s curse.</p>
                                <p><strong>Author: </strong> Rick Riordan</p>
                                <p><strong>Publisher: </strong>Disney Hyperion</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
        </div>
    </body>
</html>