<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../../public/css/lab1.css">
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="/">Homepage</a>
            <a href="../books.html">Books</a>
            <a href="../contact.html">Contact Us</a>
            <a href="../survey.html">Survey</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Olympus Library</H1>
            </center>
        </div>
        <br>
        <div class="main" style="height: 80vh;">
            <center>
                <div class="book-body" style="height: 75vh;">
                    <table>
                        <tr>
                            <td style="width: 25%;">
                                <img src="../../public/images/the-last-olympian-3D-215x300.png" width="315px" height="400px"/>
                            </td>
                            <td style="width: 55%;">
                                <h2>Percy Jackson and the Last Olympian</h2>
                                <p><h3>Summary: </h3></p>
                                <p>All year the half-bloods have been preparing for battle against the Titans, knowing the odds of victory are grim. Kronos’s army is stronger than ever, and with every god and half-blood he recruits, the evil Titan’s power only grows.

                                    While the Olympians struggle to contain the rampaging monster Typhon, Kronos begins his advance on New York City, where Mount Olympus stands virtually unguarded. Now it’s up to Percy Jackson and an army of young demigods to stop the Lord of Time. In this momentous final book in the New York Times best-selling Percy Jackson and the Olympians series, the long-awaited prophecy surrounding Percy’s sixteenth birthday unfolds. And as the battle for Western civilization rages on the streets of Manhattan, Percy faces a terrifying suspicion that he may be fighting against his own fate.</p>
                                <p><strong>Author: </strong> Rick Riordan</p>
                                <p><strong>Publisher: </strong>Disney Hyperion</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
        </div>
    </body>
</html>