<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../../public/css/lab1.css">
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="/">Homepage</a>
            <a href="../books.html">Books</a>
            <a href="../contact.html">Contact Us</a>
            <a href="../survey.html">Survey</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Olympus Library</H1>
            </center>
        </div>
        <br>
        <div class="main" style="height: 80vh;">
            <center>
                <div class="book-body" style="height: 75vh;">
                    <table>
                        <tr>
                            <td style="width: 25%;">
                                <img src="../../public/images/the-sea-of-monsters-3D-215x300.png" width="315px" height="400px"/>
                            </td>
                            <td style="width: 55%;">
                                <h2>Percy Jackson and the Sea of Monsters</h2>
                                <p><h3>Summary: </h3></p>
                                <p>When Thalia’s tree is mysteriously poisoned, the magical borders of Camp Half-Blood begin to fail. Now Percy and his friends have just days to find the only magic item powerful to save the camp before it is overrun by monsters. The catch: they must sail into the Sea of Monsters to find it. Along the way, Percy must stage a daring rescue operation to save his old friend Grover, and he learns a terrible secret about his own family, which makes him question whether being the son of Poseidon is an honor or a curse.</p>
                                <p><strong>Author: </strong> Rick Riordan</p>
                                <p><strong>Publisher: </strong>Disney Hyperion</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
        </div>
    </body>
</html>