<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../public/css/lab1.css">
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="/">Homepage</a>
            <a href="./books.html">Books</a>
            <a href="./contact.html">Contact Us</a>
            <a href="./survey.html">Survey</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Olympus Library</H1>
            </center>
        </div>
        <br>
        <div class="main" style="height: 80vh;">
            <center>
                <div class="body" style="height: 75vh;">
                    <h2>Unfortunetly, the page you are looking for cannot be found.</h2>
                </div>
            </center>
        </div>
    </body>
</html>