<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../public/css/lab1.css">
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="/">Homepage</a>
            <a href="books.html">Books</a>
            <a href="contact.html">Contact Us</a>
            <a href="survey.html">Survey</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Olympus Library</H1>
            </center>
        </div>
        <br>
    <div class="main">
        <center>
            <div class="body">
                <table>
                    <tr>
                        <td style="width: 25%;"><a href="./books/percy-jackson-and-the-lightening-thief.html"><img src="../public/images/the-lightning-thief-215x300.png" style="max-width: 75%; max-height: 75%;"></a></td>
                        <td style="width: 75%;"><a href="./books/percy-jackson-and-the-lightening-thief.html"><h2>Percy Jackson and the Lightening Thief</h2></a></td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="body">
                <table>
                    <tr>
                        <td style="width: 25%;"><a href="./books/percy-jackson-and-the-sea-of-monsters.html"><img src="../public/images/the-sea-of-monsters-3D-215x300.png" style="max-width: 75%; max-height: 75%;"/></a></td>
                        <td style="width: 75%;"><a href="./books/percy-jackson-and-the-sea-of-monsters.html"><h2>Percy Jackson and the Sea of Monsters</h2></a></td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="body">
                <table>
                    <tr>
                        <td style="width: 25%;"><a href="./books/percy-jackson-and-the-titan's-curse.html"><img src="../public/images/the-titans-curse-3D-215x300.png" style="max-width: 75%; max-height: 75%;"/></a></td>
                        <td style="width: 75%;"><a href="./books/percy-jackson-and-the-titan's-curse.html"><h2>Percy Jackson and the Titan's Curse</h2></a></td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="body">
                <table>
                    <tr>
                        <td style="width: 25%;"><a href="./books/percy-jackson-and-the-battle-of-the-labyrinth.html"><img src="../public/images/the-battle-of-the-labyrinth-3D-215x300.png" style="max-width: 75%; max-height: 75%;"/></a></td>
                        <td style="width: 75%;"><a href="./books/percy-jackson-and-the-battle-of-the-labyrinth.html"><h2>Percy Jackson and the Battle of the Labyrinth</h2></a></td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="body">
                <table>
                    <tr>
                        <td style="width: 25%;"><a href="./books/percy-jackson-and-the-last-olympian.html"><img src="../public/images/the-last-olympian-3D-215x300.png" style="max-width: 75%; max-height: 75%;"/></a></td>
                        <td style="width: 75%;"><a href="./books/percy-jackson-and-the-last-olympian.html"><h2>Percy Jackson and the Last Olympian</h2></a></td>
                    </tr>
                </table>
            </div>
            <br>
        </center>
    </div>
    </body>
    </html>