<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="../../public/css/lab1.css">
    </head>
    <body>
       <!-- Side navigation -->
        <div class="sidenav">
            <a href="/">Homepage</a>
            <a href="../books.html">Books</a>
            <a href="../contact.html">Contact Us</a>
            <a href="../survey.html">Survey</a>
        </div>
        <br>
        <div class="title">
            <center>
                <H1>Olympus Library</H1>
            </center>
        </div>
        <br>
        <div class="main" style="height: 80vh;">
            <center>
                <div class="book-body" style="height: 75vh;">
                    <table>
                        <tr>
                            <td style="width: 25%;">
                                <img src="../../public/images/the-lightning-thief-215x300.png" width="315px" height="400px"/>
                            </td>
                            <td style="width: 55%;">
                                <h2>Percy Jackson and the Lightening Thief</h2>
                                <p><h3>Summary: </h3></p>
                                <p>Twelve-year-old Percy Jackson is on the most dangerous quest of his life. With the help of a satyr and a daughter of Athena, Percy must journey across the United States to catch a thief who has stolen the original weapon of mass destruction — Zeus’ master bolt. Along the way, he must face a host of mythological enemies determined to stop him. Most of all, he must come to terms with a father he has never known, and an Oracle that has warned him of betrayal by a friend.</p>
                                <p><strong>Author: </strong> Rick Riordan</p>
                                <p><strong>Publisher: </strong>Disney Hyperion</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
        </div>
    </body>
</html>